* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
#main_container {
  max-width: 1500px;
  width: 98%;
  margin: 50px auto;
}
#filter_container {
  width: 300px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
#filter_container div {
  font-weight: 700;
  cursor: pointer;
}
#item_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: space-around;
  gap: 50px;
}

#item_container div {
  background-color: azure;
  width: 100%;
  max-width: 300px;
  margin: auto;
  height: 200px;
  border: 1px solid gray;
  border-radius: 4px;
}
.active {
  background-color: gray;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
}
#filter_container .item {
  padding: 10px;
}
.red {
  background-color: red !important;
}
.green {
  background-color: green !important;
}
.blue {
  background-color: blue !important;
}
.orange {
  background-color: orange !important;
}

.show {
  display: block;
}
.hide {
  display: none;
}

@media screen and (max-width: 767px) {
  #item_container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #item_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1324px) {
  #item_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
